* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  margin-top: 48px;
}

.field {
  position: relative;
  text-align: center;
  background-color: #fafafa;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.25);
  padding: 12px;
  border-radius: 8px;
}

.field:not(:last-child)::after {
  content: ':';
  position: absolute;
  font-size: 48px;
  right: -30px;
  top: 40px;
}

span {
  display: block;
}

.value {
  font-size: 72px;
  color: #3a3a3a;
}

.label {
  font-size: 24px;
}
